<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558643870525-kpfufmbmrr770m3a1drq8all5jdv8g40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558643870525-kpfufmbmrr770m3a1drq8all5jdv8g40</string>
	<key>API_KEY</key>
	<string>AIzaSyB_FwNR3OzSwrckPI4_OnuDXX1RUV_dyVU</string>
	<key>GCM_SENDER_ID</key>
	<string>558643870525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.devstack</string>
	<key>PROJECT_ID</key>
	<string>devstack-8043e</string>
	<key>STORAGE_BUCKET</key>
	<string>devstack-8043e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558643870525:ios:d7e21d4be29eed08baa354</string>
</dict>
</plist>